@import './base.css';

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.v-enter-active {
  transition: opacity 0.5s ease;
}

.v-leave-active {
  transition: none;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
